.single_user_timezone_holder {
  .single_user_timezone_name {
    background-color: transparent;
    border: 0;
    color: #90AFFF;
    font-size: 1rem;
    width: auto;
    cursor: pointer;
  }
  .react-select__single-value {
    cursor: pointer;
  }
}