.timeline-container {
  width: 100%;
  height: 35px;
  position: relative;
  .timeline-holder {
    position: absolute;
    display: flex;
    flex-direction: row;
    // overflow: hidden;
    flex-wrap: nowrap;
    height: 35px;
    font-size: 0.8em;
    font-family: Sans-Serif;
    cursor: pointer;
    user-select: none;
    .timeline-cell {
      // flex: 0 0 75px;
      // display: flex;
      // flex-direction: column;
      position: relative;
      // align-items: center;
      font-size: 1rem;
      text-align: center;
      line-height: 35px;
      height: 100px !important;
      .timeline-cell-number {
        // font-size: 0.8rem;
      }
      .timeline-cell-annotation {
        position: absolute;
        // top: 14px;
        width: 100%;
        font-size: 0.6em;
        line-height: 1.8em;
        text-align: center;
      }
    }
    &::-webkit-scrollbar {
      height: 0px;
    }
  }
}